/* Basic Reset */
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #6682ac;
    font-family: Arial, sans-serif;
    padding: 40px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
}


.card {
    background: #264660;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(11, 147, 238, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.price {
    font-size: 18px;
    color: #27ae60;
    font-weight: bold;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}
